/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 60%, 60%);
    --first-color-second: hsl(var(--hue-color), 69%, 80%);
    --first-color-alt: hsl(var(--hue-color), 70%, 60%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 87%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 80%, 97%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /*========== Font and typography ==========*/
    --body-font: "Noto Serif", serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
    }
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.2rem;
}

.nav__close {
    position: relative;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover {
    color: var(--first-color-alt);
}

/* show menu */
.show-menu {
    bottom: 0;
}

/* Active link */


/* Change background header */


/*==================== HOME ====================*/
.home__container {
  gap: 1rem;
}

.home__content {
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1rem;
  color: var(--first-color);
}

.home__social-icon:hover {
  color: var(--first-color-alt);
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description {
  margin-bottom: var(--mb-2);
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--first-color);
  transition: .3s;
}

.home__scroll-button:hover {
  transform: translateY(.25rem);
  color: var(--first-color-alt);
}

.home__scroll-mouse {
  font-size: 1.3rem;
}

.home__scroll-name {
  font-size: var(--small-font-size);
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color:#fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/*==================== ABOUT ====================*/
.about__container {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.about__img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: var(--mb-2);
}

/*=================== EXPERIENCE ===================*/
.experience-section {
  padding: 20px;
}

.experience-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.experience-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
  padding: 15px 0;
}

.experience-date {
  width: 20%;
}

.experience-details {
  width: 75%;
}

.experience-date p,
.experience-details h3,
.experience-details h4,
.experience-details p {
  margin: 5px 0;
}

.experience-details h3 {
  font-size: 1.2em;
}

.experience-details h4 {
  font-size: 1em;
  font-weight: normal;
  color: #888;
}

.experience-details p {
  font-size: 0.9em;
  color: #BBB;
}


/*=================== SKILLS ======================*/
.skills-section {
  padding: 10px;
  overflow: hidden;
  background-color: var(--body-color);
  margin-top: 20px;
}

.skills-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.skills-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 16s linear infinite;
  will-change: transform;
}

.skills-marquee::before,
.skills-marquee::after {
  content: attr(data-content);
  position: absolute;
  top: 0;
}

.skills-marquee::before {
  right: 100%;
}

.skills-marquee::after {
  left: 100%;
}

.skills-marquee span {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #BBB;
}

@keyframes marquee {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-50%);
  }
}

/*==================== PROJECTS ====================*/
.projects {
  padding: var(--mb-3) 0;
}

.projects__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.project-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image img {
  max-width: 100%;
  border-radius: 10px;
}

.project-description {
  margin-left: 20px;
}

.project-description h2 {
  margin-top: 0;
}

.tech-tags {
  margin-top: 10px;
}

.tech-tags span {
  display: inline-block;
  background-color: #7D7D7D;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 0.9em;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .project-container {
      flex-direction: column;
      align-items: flex-start;
  }

  .project-description {
      margin-left: 0;
      margin-top: 20px;
  }
}


/*==================== FOOTER ====================*/
.footer {
  padding-top: 0.5rem;
}

.footer__container {
  row-gap: 0;
}

.footer__bg {
  background-color: var(--first-color-second);
  padding: 1rem 0 1.5rem; 
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
  font-size: var(--small-font-size);
  margin-bottom: 0;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  column-gap: 0.6rem;
  row-gap: 0.5rem;
  margin-top: 0;
}

.footer__link {
  font-size: var(--normal-font-size);
  position: relative;
}

.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__copyright {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-light);
  margin-top: var(--mb-1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer__title {
    font-size: var(--h2-font-size); /* Reduce title font size on smaller screens */
  }

  .footer__subtitle {
    font-size: var(--small-font-size);
  }

  .footer__links {
    justify-content: center;
    flex-direction: row; /* Keep links in a single row */
    flex-wrap: wrap; /* Prevent wrapping to new lines */
  }
}



/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */